
.cursor{

    position:fixed;

    left:0;
    top:0;

    width:34px;
    height:34px;

    border:1.5px solid white;

    border-radius:50%;

    transform:translate(-50%,-50%);

    pointer-events:none;

    z-index:99999;

    transition:
        width .35s,
        height .35s,
        background .35s,
        border .35s;

    mix-blend-mode:difference;
}

.active{

    width:70px;
    height:70px;

    background:white;
}